body {
  background: #f8e8a6;
}

h1,
p {
  text-align: center;
}

.navigation-links {
  text-align: center;
}

footer a {
  color: green;
  margin: 0 10px;
}

.croissant-image {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 100%;
}
